.intro img {
  max-height: 200px;
  max-width: 200px;
  border-radius: 100px;
}
#intro-text {
  font-size: 20px;
  padding-top: 20px;
}
#table {
  display: block;
  max-height: 150px;
  margin: 30px 0;
}
td{
  display: inline-block;
  max-height: 150px;
}
td img {
  max-width: 150px;
  max-height: 150px;
}

td #text {
  visibility: hidden;
  position: relative;
  bottom: 120px;
  margin-bottom: 0;
  cursor: pointer;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

td:hover #text {
  visibility: visible;
  font-weight: bold;
  font-size: 17px;
}

td:hover img {
  opacity: 0.4;
}

.intro-body h1 {
  margin-top: 20px;
}
